@import "material-components-web/material-components-web";
@import "@material/icon-button/mdc-icon-button";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/icon/mdc-text-field-icon";

:root {
  --mdc-theme-primary: rgb(235, 21, 39);;
  --mdc-theme-secondary: #888;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}
#map{
  height: calc(100vh - 60px);
  width: 100%;
}

#drawer{
  top: 60px;
  display: block;
}

// Note: these styles do not account for any paddings/margins that you may need.

body {
  display: flex;
  height: 100vh;
}
.mdc-tab{
  max-width: 12vw;
}
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

#app-bar {
  position: absolute;
  background-color: transparent;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
  z-index: 7;
}

.mdc-drawer .mdc-list-item--activated {
  color: rgba(235, 21, 39,.87);
}
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
  color: rgba(235, 21, 39,.87);
}