*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400 ;
    color: rgb(144, 155, 158);
   overflow: scroll;

}

body{
    overflow: hidden;
    font-size: 16px;
    margin: 0;
}

h1{
    font-family: 'Poiret One';
    font-size:200%;
    font-weight: bold;
    color: rgb(144, 155, 158);
    margin: 0;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h1, h2, h3, h4, h5{
    font-family: 'Poiret One';
    font-weight:bold;
}

h2{
    font-size: 36px;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

h3{
    font-size: 30px;
    margin-bottom: 15px;
}

h4{
    font-size: 25px;
    margin-bottom: 0;
    font-weight: 500;
}

h5{
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 500;
}

/* Page header */
header{
    border:hidden;
    margin: auto;
    padding: 1px;
    width: 100%;
    height: 60px;
    background-color: white;
    z-index: 2;
}


header img{
	float: left;
	width: 22%;
	height: 55px;
}


.topnav {
	float: right;
    overflow: hidden;
}
.topnav .icon {
    display: none;
  }
.topnav a {
	float: left;
    display: block;
    text-align: center;
    padding: 16px 18px;
    color: rgb(144, 155, 158);
    text-decoration: none;
    font-weight: bold;
    font-family: "Poiret One";
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgba(144, 155, 158, 0.5);
    color: rgb(255, 255, 255);

}

.topnav a.active {
    color: rgb(144, 155, 158);
    background-color: rgb(255, 255, 255);
    text-decoration: underline rgb(144, 155, 158);
} 
.topnav a.active:hover{
    background-color: rgb(144, 155, 158);
}


/* CSR page */
.quote{
    position: fixed;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 150%;
}
.quote h1{
    font-weight: normal;
}


.row {
    border: hidden;
	width: 100%;
	margin-top: 15%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 6%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block
}

.row2 {
    border: hidden;
	width: 100%;
	margin-top: 0%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 6%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block
}

.columns {
	background-color: rgb(255, 255, 255);
	width: 33%;
	float: left;
	font-family: "Source Sans Pro";
	color: #A5A5A5;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0%;
	margin-right: 0px;
}

.columns h4{
    margin-top: 1%;
}

.thumbnail {
	width: 13%;
	height: 8%;
	margin-left: 16%;
}


.btn{
    border: 1px solid rgb(235, 21, 39);
    background-color: rgb(235, 21, 39);
    color:white;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 10%;
    display: inline-block;
    text-align:center;
    padding:8px 20px;
    border-radius: 2%;
    font-weight: 700;
    text-decoration:none;

}
.btn:hover{
    background-color: rgb(244, 135, 143);
    color:white;
}

/* Legal site */
#book_now{
    background-color: rgb(145, 155, 158);
    color: rgb(255, 255, 255);
}

.title{
    width:32%;
    margin-top: 13%;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
  
}
.title h1{
    font-weight: 500%;
    letter-spacing: 8pt;
}

.paragraph{
    width: 70%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.paragraph button{
    cursor: pointer;
    margin-top: 5%;
}
.btn_book{
    border: 2px solid rgb(144, 155, 158);
    border-radius: 5px;
    background-color: rgb(144, 155, 158);
    color: rgb(255, 255, 255);
    padding:10px 25px;
    margin: 0;
    float: left;
    margin-left: 30%;
}

.btn_learn_more{
    border: 2px solid rgb(144, 155, 158);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(144, 155, 158);
    padding:10px 30px;
    margin: 0;
    float: right;
    margin-right: 30%;
}

.paragraph button:hover{
    background-color: rgb(140, 140, 140);
    color: rgb(255, 255, 255);
}

.what_we_do_thumbnail {
    border: 1px solid black;
	width: 70%;
	height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.what_we_do_thumbnail img{
    width: 100%;
    height: auto;
}

.sub_title{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    width: 25%;
    border: hidden;
}
.sub_title h2{
    font-weight: 500%;
    letter-spacing: 5pt;
}

#what_we_do p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.sub_title_paragraph button{
    margin-right: 71%;
    margin-top: 1%;
    cursor: pointer;
}
.sub_title_paragraph button:hover{
    background-color: rgb(140, 140, 140);
    color: rgb(255, 255, 255);
}

/* Services page */

#services .title{
    width: 17%;
}
.column{
    background-color: transparent;
    border: hidden;
    float:left;
    width:25%;
    height: 60%;
    margin-left: 3%;
}

.row{
    margin-top: 3%;
    margin-left: 5%;
   
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.row2{
    margin-top: 0%;
    margin-left: 5%;
}

.row2::after{
    content: "";
    display: table;
    clear: both;
}
.name{
    background-color: transparent;
    border: hidden;
    margin-top: 0;
    width: 100%;
    height: 45%;
}

.column h2{
   
    margin-top: 2%;
    margin-left: 40%;
}

.column h5{
    margin-top: 2%;
    margin-left: 18%; 
}

.column h6{
    margin-top: 0;
    margin-left: 18%;
}

.thumbnail{
    margin-left: 17%;
    height:100%;
    width: 95%;
    border: hidden;
}

.thumbnail img{
    width: 100%;
    height:100%;
    margin-bottom: 0;
   
}
.description {
    background-color:transparent;
    width: 95%;
    height: 70%;
    margin-top: 5%;
    position: relative;
    text-align: center;
    margin-left: 15%;
}

#services .btn_learn_more{
    margin-left: 40%;
    float: none;
    margin-top: 5%;
    background-color: rgb(144, 155, 158);
    color: white;
}

/* blog posts page */
#blog .title{
    width: 25%;
}
#blog .column{
    width: 20%;
    height: 50%;
    margin-left: 0;
    margin-right: 2%;
    margin-top: 0;
}

.btn_see_more{
    border: 2px solid rgb(144, 155, 158);
    border-radius: 5px;
    padding:10px 30px;
    margin: 0;
    margin-left: 40%;
    float: none;
    margin-top: 0%;
    background-color: rgb(144, 155, 158);
    color: white;
        
}

/* Need help section */

#help .title{
    width: 45%;
    margin-top: 2%;
}

.btn_book_consultation{
    border: 2px solid rgb(144, 155, 158);
    border-radius: 5px;
    padding:10px 40px;
    margin-left: 42%;
    float: none;
    margin-top: 5%;
    background-color: rgb(144, 155, 158);
    color: white;
        
}

/* Contact us page */
#contact_us .title{
    margin-top: 3%;
    width: 30%;
}
.social_media_icons{
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.contact_details{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#contact_us .thumbnail{
    width: 30%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%
}

/* About page */
#about .title{
    width: 15%;
}

#about p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: center;
}

/* Services costs page */
#services_costs .title{
    width: 34%;
}
#services_costs h2{
    margin-left: 5%;
    margin-top: 8%;
}

.cost_thumbnail{
    float: left;
    width: 10%;
    height: 20%;
    border: 1px solid rgb(144, 155, 158);
    border-radius: 100%;
    margin-left: 5%;
    margin-bottom: 2%;
}
.cost_thumbnail img{
    
}

.cost_column{
    float: right;
    width: 70%;
    height: 20%;
    margin-right: 15%;
    margin-bottom: 2%;
}
#services_costs .description{
    width: 80%;
    margin-top: 0;
    text-align: left;
}

/* FAQs page */
#FAQ .title{
    width: 10%;
}
#FAQ h4{
    margin-left: 8%;
}
#FAQ p{
    text-align: justify;
    margin-left: 7%;
}

#FAQ .column{
    height: 15%;
}

/* Consultation booking form */
#book_consultation .title{
    width: 55%;
}

/* The Modal (background) */
.modal {
    /*display: none; !* Hidden by default *!*/
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 0; /* 15% from the top and centered */
    padding: 20px;
    border: none;
    width: 100%;
    height: 100%;
}

.modal-body{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* The Close Button */
.close {
    top: -20px;
    color: #aaa;
    float: right;
    font-size: 90px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#bookingTitle {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
}
#bookingForm > textarea, #date {
    border: 3px solid;
    width: 100%;
}

#bookingForm  input[type=text],
#bookingForm  input[type=email] {
    border: none;
    border-bottom-style: solid;
    width: 40%;
}

#bookingForm input,
#bookingForm > button
{
    margin-top: 50px;
}

#bookingForm textarea{
    margin-top: 30px;
    height: 20vh;
}

#bookingFormButton{
    border-radius: 0;
}

#fullName{
    margin-right: 19%;
}